.paste-up-introduction {
    text-align: left;
    padding: 50px 20px;
    background-color: #fafafa;
}

.paste-up-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.paste-up-item {
    width: calc(33.333% - 40px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.paste-up-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.paste-up-info h2,
.paste-up-info p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .paste-up-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .paste-up-item {
        width: 100%;
    }
}